$full-width: 1440;
$full-height: 1024;
$browser_font-size: 16;

@function vmax($pixels, $content: $full-width) {
  @return #{($pixels / $content) * 100}vmax
};

@function vmin($pixels, $content: $full-height) {
  @return #{($pixels/$content) * 100}vmin
};

@function rem($pixels, $content: $browser_font-size) {
    @return #{($pixels/$content)}rem
};

@function percent($pixels, $content: $browser_font-size) {
    @return #{($pixels / $content) * 1%};
}

@function vh($pixels, $context: $full-width) {
    @return #{($pixels/$context) * 100}vh
};

@function vw($pixels, $context: $full-width) {
    @return #{($pixels/$context) * 100}vw
};
